{% extends 'club/_base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ event.name }}{% endblock %}

{% block content %}
    <div class="page-single">
        <div class="container">
            <div class="row">
                <div class="col-12 card">
                    <div class="card-header">
                        <h3 class="card-title">Event Details</h3>
                    </div>
                    <div class="card-body">
                        {% crispy form %}
                    </div>
                </div>
                <!-- <div class="col-12 card">
                    <div class="card-header">
                        <h3 class="card-title">Extra Question for Registration</h3>
                    </div>
                    <div class="card-body">

                    </div>
                </div> -->
            </div>
        </div>
    </div>
{% endblock %}